.article__container {
    margin: auto;
    max-height: fit-content;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 5px;
    max-width: 80%;
    margin-top: 100px;
}

.article__header__aboutMe {
    font-weight: bold;
    padding: 10px 0 10px 10px;
    font-size: 5vh;
    text-align: center;
    border-bottom: 1px solid #222222;
    margin: 0 100px 0 100px;
}

.article__containerImage {
    text-align: center;
}

.article__image {
    border-radius: 45%;
    height: 300px;
    padding: 40px 0 40px 0;
}

.article__paragraph {
    padding: 0 10px 10px 10px;
    font-size: 20px;
    letter-spacing: 1px;
}