.article {
    margin: auto;
    max-height: fit-content;
    background-color: rgba(231, 231, 231, 0.705);
    border-radius: 5px;
    max-width: 100%;
    margin-top: 10px;
}

.article__header {
    font-weight: bold;
    padding: 10px 0 10px 10px;
    font-size: 5vh;
    text-align: center;
    border-bottom: 1px solid #222222;
    margin: 0 5vw 70px 5vw;
}

.article__containerImage {
    text-align: center;
}

.article__image {
    border-radius: 45%;
    height: 250px;
}

.article__paragraph {
    padding: 0 10px 30px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-indent: 5vh;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: justify;
}

.article__paragraph--welcome {
    padding: 0 10px 10px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.article__container {
    max-width: fit-content;
    text-align: center;
    display: flex;
    padding-bottom: 50px;
}

.article__container--gif {
    max-width: 100%;
}

.article__gif {
    max-width: 100%;
    padding: 20px;
}

.article__button {
    text-align: center;
    background-color: teal;
    border: none;
    border-radius: 3px;
    padding: 10px;
    max-width: 30vh;
    min-width: 30vh;
}

.article__button__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 20vh;
    font-size: 24px;
}

.article__button__link:hover {
    text-decoration: underline;
}

.article__button:hover {
    background-color: rgb(0, 179, 179);
}

.article__button:active {
    background-color: rgb(0, 255, 255);
}

@media (max-width: 1024px) {
    .article__container {
        display: inline-block;
    }
}