.article {
    margin: auto;
    max-height: fit-content;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 5px;
    max-width: 80%;
    margin-top: 100px;
}

.article__header {
    font-weight: bold;
    padding: 10px 0 10px 10px;
    font-size: 5vh;
    text-align: center;
    border-bottom: 1px solid #222222;
    margin: 0 5vw 70px 5vw;
}

.article__containerImage {
    text-align: center;
}

.article__image {
    border-radius: 45%;
    height: 250px;
}

.article__paragraph {
    padding: 0 10px 10px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-indent: 10vh;
    font-weight: 600;
}

.article__paragraph--welcome {
    padding: 0 10px 10px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.article__container--gif {
    max-height: fit-content;
    text-align: center;
}

.article__gif {
    max-height: 250px;
    max-width: 250px;
    padding: 20px;
}

.article__gif:hover {
    cursor: pointer;
    height: 300px;
    width: 600px;
}

.button {
    max-height: 250px;
    max-width: 250px;
    padding: 20px;
}