.footer__container{
    background-color: rgba(117, 117, 117, 0.267);
    border-radius: 5px;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
}

.footer__copyrights{
    align-self: flex-end;
    
}