.footer__container {
    background-color: rgba(117, 117, 117, 0.267);
    border-radius: 5px;
}

.footer__header{
    text-decoration: underline;
    padding-left: 10px;
}

.footer__container--copyrights {
    text-align: center;
    display: block;
}

.footer__container--contactData{
    text-align: left;
}

.footer__contactData {
    margin: 0;
    padding: 20px 0 20px 10px;
    font-weight: bold;
    text-decoration: none;
}

.footer__copyrights {
    margin: 0;
    display: inline-block;
}