.header__container {
    background-color: rgba(151, 151, 151, 0.678);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button {
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(206, 206, 206);
    font-weight: bold;
    cursor: pointer;
}

.header__h2 {
    flex: 1 2;
    padding-left: 46%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: auto;
}

.header__button:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: underline;
}

.header__button:active{
    background-color: rgb(255, 255, 255);
}