.header__container {
    background-color: rgba(151, 151, 151, 0.678);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button {
    margin-right: 5%;
}

.header__h2 {
    flex: 1 2;
    padding-left: 46%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: auto;

}