.navigation__list {
    background-color: rgba(0, 128, 128, 0.404);
    max-width: 100%;
    height: 100px;
    text-align: center;
    padding: 33.3333px;
    border-radius: 5px;
}

.navigation__item {
    list-style-type: none;
    display: inline-block;
    padding: 5px 26px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation__item:hover{
    text-decoration: underline;
    cursor: pointer;
}