.section__strong {
    color: red;
    font-size: 40px;
}

.section__h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 40px;
}

.section__span {
    padding: 0 70px 0 70px;
    font-weight: bold;
}

.section__containerImage{
    text-align: center;
}

.section__image{
    border-radius: 0px;
    height: 250px;
    border-radius: 0px;
}