html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    background-image: url(../img/background.png);
}